# systemd服务注册文件
[Unit]
Description=SugonBot (NoneBot2)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# 运行所使用的用户
User=YOUR_USER_NAME
# sugonbot项目目录
WorkingDirectory=/ABS/PATH/TO/sugonbot

# uv 的绝对路径，可以用 `command -v uv` 查询
ExecStart=/ABS/PATH/TO/uv run -- nb run
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target